/* Downloads page styles... by Andrew Yaros */

:root {
	color-scheme: light dark;

	--pagePaddingH: 50px;
	--pagePaddingV: 50px;

	--modulePaddingH: 32px;
	--modulePaddingV: 32px;
	--moduleMarginV: 48px;
	--moduleShadowOffset: 40px;

}

@media screen and (prefers-color-scheme: light) {
	:root {
		--bg: #ddd;
		--altBG: #eee;
		--color: #222;
		--lines: #666;
		--shadowColor: rgba(128, 128, 128, 0.5);
	}
	html { background-image: url('bgHi.svg'); }
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg: #222;
		--altBG: #111;
		--lines: #555;
		--color: #ddd;
		--shadowColor: rgba(0, 0, 0, 0.5);
	}
	html { background-image: url('bgLo.svg'); }
}

html {
	margin:
			calc(env(safe-area-inset-top, 0) + var(--pagePaddingV))
			calc(env(safe-area-inset-right, 0) + var(--pagePaddingH))
			calc(env(safe-area-inset-bottom, 0) + var(--pagePaddingV))
			calc(env(safe-area-inset-left, 0) + var(--pagePaddingH)) !important;
	color: var(--color) !important;

	background-color: var(--bg);
	background-size: 24px;
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
}

body {
	font-family: serif;
	margin: 0 auto;
	max-width: calc(800px + (2 * var(--modulePaddingH)));
}

h1,h2,h3,h4,h5 {
	font-family: "Helvetica Black", "Arial Black", "Helvetica", "Arial", sans-serif;
	font-weight: 900;
}

.title {
	padding-bottom: 0!important;
	margin-bottom: 0!important;
}

.subtitle {
	padding-top: 0!important;
	margin-top: 0!important;
}

hr {
	color: var(--lines);
	background-color: var(--lines);
	border-color: var(--lines);
	border-style: solid;
}

p {
	line-height: 1.5em;
	margin-bottom: .75em;
}

#intro {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--pagePaddingV);
	justify-content: space-between;
	align-items: center;
}

.module {
	background-color: var(--bg);
	padding: var(--modulePaddingV) var(--modulePaddingH);
	border-radius: var(--modulePaddingH);
	box-shadow: 0 0 var(--moduleShadowOffset) inset var(--shadowColor);
	margin: var(--moduleMarginV) 0;

}

.moduleBannerContainer {
	display: flex;
	flex-flow: row nowrap;
	pointer-events: none!important;
}

.moduleBanner {
	margin-top: 32px;
	width: 100%;
	height: 256px!important;
	user-select: none!important;
	background-position: center;
	background-size: cover;
	pointer-events: none!important;
}

.button {
	display: inline-block !important;
	padding: 15px;
	background-color: var(--altBG);
	border-color: var(--color);
	border-style: dotted;
	border-width: 2px;
	border-radius: 1em;
	color: var(--color) !important;
	text-decoration: none!important;
	user-select: none!important;

	margin-right: 10px;
	margin-bottom: 15px;
	text-align: center;
	font-family: "Helvetica", "Arial", sans-serif;
}

.button:hover {
	border-style: solid;
}

.button:active {
	filter: invert(1);
}

@media screen and (max-width: 580px) {
	#intro {
		flex-flow: column nowrap;
		gap: calc(var(--pagePaddingV) / 3);
	}
}

@media screen and (max-width: 420px) {
	:root {
		--pagePaddingH: 20px;
		--modulePaddingH: 0;
		--moduleShadowOffset: 0;
	}

	.module {
		background-color: unset!important;
	}
}
