/********************************************\
|*                                          *|
|*   Macintosh Stylesheet by Andrew Yaros   *|
|*                                          *|
|********************************************|
|*                                          *|
|*   NO permission is given to reuse any    *|
|*   part of this stylesheet for any        *|
|*   purpose whatsoever!                    *|
|*                                          *|
\********************************************/

/* FONTS */
@font-face {
	font-family: "System Font";
	src: url("./system/fonts/chicago-12-1.otf")
	
	/*************************************************************************\
	|*                                                                       *|
	|*  Font credit: Chicago 12.1 font created by "kamekku14"                *|
	|*                                                                       *|
	|*  https://fontstruct.com/fontstructions/show/2230457/chicago-12-13-11  *|
	|*                                                                       *|
	\*************************************************************************/
}
@font-face {
	font-family: "Alt Text Font";
	src: url("./system/fonts/geneva-9-2.otf");
	
	/*******************************************************************\
	|*                                                                 *|
	|*  Font credit: Geneva 9.2 font created by "Techstar01"           *|
	|*                                                                 *|
	|*  https://fontstruct.com/fontstructions/show/1744455/geneva-9-2  *|
	|*                                                                 *|
	\*******************************************************************/
}

@font-face {
	font-family: "Text Font";
	src: url("./system/fonts/Pixelva.ttf");
	
	/*********************************************************************\
	|*                                                                   *|
	|*  Font credit: Pixelva font created by "HomeStarRunnerTron"        *|
	|*                                                                   *|
	|*  https://www.pentacom.jp/pentacom/bitfontmaker2/gallery/?id=5892  *|
	|*                                                                   *|
	\*********************************************************************/
}

/* VARIABLES */
:root {

	/*====== lengths ======*/

	/* all these items should be the same multiple of the original lengths */
	--integerScaling: 1;


	/* lengths not based on original dimensions */
	--lengthScreenPadding: calc(var(--integerScaling) * 20px); /* arbitrary */

	/* lengths based on actual pixel sizes */
	--lengthLineThickness: calc(var(--integerScaling) * 1px);
	--lengthLineThicknessNegative: calc(var(--integerScaling) * -1px);

	--LengthBackgroundTile: calc(var(--integerScaling) * 8px);
	--lengthScreenCorner: calc(var(--integerScaling) * 5px);
	
	--horiPadding: calc(env(safe-area-inset-left) + env(safe-area-inset-right));
	--vertPadding: calc(env(safe-area-inset-top) + env(safe-area-inset-bottom));

	/* Font sizes */
	--lengthSystemFontSize: calc(var(--integerScaling) * 16px);
	--lengthTextFontSize: calc(var(--integerScaling) * 16px);
	
	--lengthScrollbarThickness: calc(var(--integerScaling) * 16px);
	--lengthScrollbarButtonInnerElement: calc(var(--integerScaling) * 14px);
	--lengthScrollbarReducedButton: calc(var(--integerScaling) * 15px);

	--lengthMenuBarHeight: calc(var(--integerScaling) * 20px);
	--lengthMenuBarTitleMargin: calc(var(--integerScaling) * 15px);
	--lengthMenuBarSelectionPadding:calc(var(--integerScaling) * 10px);
	--lengthMenuBarSelectionPaddingNegative: calc(-1 * var(--lengthMenuBarSelectionPadding));

	--lengthAppleMenuLogoWidth: calc(var(--integerScaling) * 9px);
	--lengthAppleMenuLogoHeight: calc(var(--integerScaling) * 11px);
	--lengthAppleMenuLogoMargin: calc(var(--integerScaling) * 19px);

	--lengthTitlebarInsideHeight: calc(var(--integerScaling) * 17px);
	--lengthTitlebarBoxInside: calc(var(--integerScaling) * 9px);
	--lengthTitlebarBoxMargin: calc(var(--integerScaling) * 8px); /* actually should be 6px but the 1px box shadows aren't accounted for, hence the need to make this 2px wider */
	--lengthTitlebarTextPadding: calc(var(--integerScaling) * 7px);

	/*====== Colors ======*/
	color-scheme: only light!important;
	--lo: black;
	--hi: white;

	/* Firefox Scrollbars */
	/* This disables custom scrollbars on chrome... */
	/*scrollbar-color: var(--lo) var(--hi);*/
}

/* override scale state at small widths and heights */
@media (max-width: 1024px) or (max-height: 684px) {
	:root {
		--integerScaling: 1!important;
	}
	#stateButton { display: none; color: gray; text-decoration: line-through; }
}

/* SCROLLBARS */

.window {
	margin: 0;
	padding: 0;
	border: var(--lengthLineThickness) solid var(--lo);
	box-shadow: var(--lengthLineThickness) var(--lengthLineThickness) var(--lo);
	background-color: var(--hi);

	display: flex;
	flex-flow: column nowrap;
}

.windowTitleBar {
	border-bottom: var(--lengthLineThickness) solid var(--lo);
	height: var(--lengthTitlebarInsideHeight);

	display: flex;
	justify-content: space-between;
	align-content: stretch;

	background-image: url("./system/svg/titlebarBG.svg");
	background-position: center;
	background-size: var(--lengthLineThickness) var(--lengthTitlebarInsideHeight);
	background-repeat: repeat-x;
	box-shadow: inset var(--lengthLineThickness) 0 var(--hi),
	inset var(--lengthLineThicknessNegative) 0 var(--hi);
	cursor: default!important;
}

.windowTitleBar, .windowTitleBar *, #topMenuBar, #topMenuBar *, br, hr, .menu, .menu * {
	user-select: none!important;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.windowTitleBar div {
	background-color: var(--hi);
}

.windowCloseBox, .windowResizeBox {
	width: var(--lengthTitlebarBoxInside);
	height: var(--lengthTitlebarBoxInside);
	margin: auto var(--lengthTitlebarBoxMargin) auto var(--lengthTitlebarBoxMargin);
	border: var(--lo) solid var(--lengthLineThickness);
	box-shadow: var(--lengthLineThickness) 0 var(--hi), var(--lengthLineThicknessNegative) 0 var(--hi);
}

.windowTitle {
	padding: 0 var(--lengthTitlebarTextPadding) 0 var(--lengthTitlebarTextPadding);
	line-height: var(--lengthTitlebarInsideHeight);
}

.windowResizeBox {
	background-image: url("./system/svg/titlebarresizebox.svg");
	background-size: var(--lengthTitlebarBoxInside) var(--lengthTitlebarBoxInside);
	background-repeat: no-repeat;
}

.windowContent {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

/* Webkit Scrollbars */
::-webkit-scrollbar {
	background-color: var(--hi);
	border: 0;
}

::-webkit-scrollbar:vertical {
	width: var(--lengthScrollbarReducedButton);
}

::-webkit-scrollbar:horizontal {
	height: var(--lengthScrollbarReducedButton);
}

/* scrollbar tracks */
::-webkit-scrollbar-track {
	background-image: url("./system/svg/scrollbarTrack.svg");
	background-repeat: repeat;
	background-size: var(--LengthBackgroundTile);
}

::-webkit-scrollbar-track:vertical {
	border-left: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-scrollbar-track:horizontal {
	border-top: var(--lengthLineThickness) solid var(--lo);
}

/* scrollbar thumbs */
::-webkit-scrollbar-thumb {
	border: var(--lengthLineThickness) solid var(--lo);
	background-color: var(--hi);
}

::-webkit-scrollbar-thumb:vertical {
	width: var(--lengthScrollbarReducedButton) !important;
	box-shadow: inset var(--lengthLineThickness) 0 var(--lo);
}

::-webkit-scrollbar-thumb:horizontal {
	height: var(--lengthScrollbarReducedButton) !important;
	box-shadow: inset 0 var(--lengthLineThickness) var(--lo);
}


/* scrollbar buttons */
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, ::-webkit-resizer {
	display: block !important;
	width: var(--lengthScrollbarReducedButton);
	height: var(--lengthScrollbarReducedButton);
	background-size: var(--lengthScrollbarButtonInnerElement);
	background-repeat: no-repeat;
}

::-webkit-scrollbar-corner, ::-webkit-resizer {
	border-left: var(--lengthLineThickness) solid var(--lo);
	border-top: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-resizer {
	background-image: url("system/svg/resizebox.svg");
}

::-webkit-scrollbar-button:vertical {
	border-left: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-scrollbar-button:horizontal {
	border-top: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url("system/svg/arrowUp.svg");
	border-bottom: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url("system/svg/arrowDown.svg");
	border-top: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url("system/svg/arrowLeft.svg");
	border-right: var(--lengthLineThickness) solid var(--lo);
}

::-webkit-scrollbar-button:horizontal:increment {
	background-image: url("system/svg/arrowRight.svg");
	border-left: var(--lengthLineThickness) solid var(--lo);
}

/* hide double scrollbuttons */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
	display: none !important;
}

::-webkit-scrollbar-button:window-inactive, ::-webkit-scrollbar-thumb:window-inactive {
	display: none !important;
}

::-webkit-scrollbar-track:window-inactive {
	background-image: none;
}


/* TEXT SELECTION */
::selection {
	color: var(--hi);
	background: var(--lo);
}

::-moz-selection {
	color: var(--hi);
	background: var(--lo);
}

/* STYLES */

html, body {
	width: 100%;
	height: 100%;
	background-color: black;
}

body {
	margin: 0;
}

ul {
	padding-inline-start: 3em;
}

li {
	list-style-type: square;
}

/* Disable font and image smoothing everywhere */
* {
	font-smooth: never;
	-webkit-font-smoothing: none!important;
	-moz-osx-font-smoothing: grayscale!important;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	-webkit-text-size-adjust: 150% !important;
}

/* some elements shouldn't have resized text right now */
#topMenuBar, #topMenuBar *, .windowTitleBar, .windowTitleBar *, .fixedButton, .fixedButton * {
	-webkit-text-size-adjust: 100% !important;
}


#monitor {
	background-color: var(--lo);
	position: fixed;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	display: flex;
}

#screen {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;

	background-color: var(--hi);
	background-image: url("./system/svg/default.svg");
	background-repeat: repeat;
	background-size: var(--LengthBackgroundTile);
	background-attachment: local;

	position: absolute;
	top: calc(var(--lengthScreenPadding) + env(safe-area-inset-top));
	left: calc(var(--lengthScreenPadding) + env(safe-area-inset-left));

	width:  calc(100% - (2 * var(--lengthScreenPadding)) - var(--horiPadding));
	height: calc(100% - (2 * var(--lengthScreenPadding)) - var(--vertPadding));

	z-index: 10;
}

.screencorner {
	position: absolute!important;
	width: var(--lengthScreenCorner);
	height: var(--lengthScreenCorner);

	background-color: transparent;
	background-image: url("system/svg/screenCorner.svg");
	background-repeat: no-repeat;
	background-size: var(--lengthScreenCorner);

	z-index: 20;
}

#screencorner_upper_left {
	top: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-top) );*/
	left: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-left) );*/
}

#screencorner_upper_right {
	transform: rotate(90deg);
	top: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-top) );*/
	right: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-right) );*/
}

#screencorner_lower_left {
	transform: rotate(270deg);
	bottom: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-bottom) );*/
	left: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-left) );*/
}

#screencorner_lower_right {
	transform: rotate(180deg);
	bottom: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-bottom) );*/
	right: 0;/*calc(var(--lengthScreenPadding) + env(safe-area-inset-right) );*/
}

#desktop {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

hr {
	/* height: var(--UIlineWidth); */
}

a {
	cursor: pointer!important;
}

.solidHR {
	border: none;
	border-top: var(--lengthLineThickness) solid var(--lo);
}

.dottedHR {
	border: none;
	border-top: var(--lengthLineThickness) dotted var(--lo);
}

.fontSystem {
	font-family: "System Font", ChiKareGo2, ChiKareGo, PixChicago, Chicago, Silom, "Trebuchet MS", sans-serif;
	font-size: var(--lengthSystemFontSize);
}

.fontText {
	font-family: 'Text Font', 'Alt Text Font', 'Geneva', "Arial", sans-serif;
	font-size: var(--lengthTextFontSize);
	line-height: 1em;
}

.shortcut, .shortcut * {
	cursor: alias!important;
}


/* Menu Bar */

#topMenuBar {
	width: calc(100% - (2 * var(--lengthMenuBarTitleMargin)));
	padding: 0 var(--lengthMenuBarTitleMargin);
	background-color: var(--hi);

	display: flex;
	justify-content: flex-start;
	align-items: center !important;
	align-content: center;
	flex-wrap: wrap!important;

	box-shadow: 0 calc(-1px * var(--integerScaling)) 0 var(--lo) inset;
	overflow: hidden;
}

#topMenuBar > * {
	height: var(--lengthMenuBarHeight) !important;
	line-height: var(--lengthMenuBarHeight);
	padding: var(--lengthLineThickness) 0 var(--lengthLineThickness) 0;
	margin-right: var(--lengthMenuBarTitleMargin);
}

#topMenuBar > *:first-child {
	margin-left: 0;
}

#topMenuBar > *:last-child {
	margin-right: 0;
}

.menu {
	display: flex;
}

#clock {
	/*min-width: calc(var(--integerScaling) * 85px);*/
	/*min-width: 11ch;*/
	text-align: right!important;
}

.hideIfWide {
	display: none;
}

@media (max-width: 270px) {
	#clock {
		display: none;
	}
	
	.spacer {
		display: none;
	}
}

@media (max-width: 450px) {
	
	#topMenuBar {
		/*align-items: center;*/
		/*padding: var(--lengthMenuBarTitleMargin);*/
	}
	
	.hideIfNarrow {
		display: none;
	}
	
	.hideIfWide {
		display: initial;
	}
	
	#topMenuBar > * {
		/*height: 100% !important;*/
		height: calc(2 * var(--lengthMenuBarHeight)) !important;
		/*line-height: calc(var(--lengthMenuBarHeight) - 10px);*/
		/*padding-top: 0;*/
		/*padding-bottom: 0;*/
		margin-top: 0;
		margin-bottom: 0;
		
		justify-content: center;
		align-items: center;
	}
	
	
	.spacer {
		display: none;
	}
	/*
	
	#clock {
		text-align: left!important;
	}
	*/
}
@media (max-width: 230px) {
	#topMenuBar {
		/*align-items: center;*/
		padding: var(--lengthMenuBarTitleMargin);
	}
}

.menu {
	/*background-color: red;*/
	/*height: 100%;*/
	color: var(--lo);
	border: 0;
	cursor: default;
	text-decoration: none;
}

.menuButton { cursor: pointer!important; }

#appleMenu {
	margin-left: var(--lengthAppleMenuLogoMargin);
	width: var(--lengthAppleMenuLogoWidth)!important;
	height: var(--lengthAppleMenuLogoHeight)!important;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJhcHBsZUxvZ28iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkgMTEiPjxwb2x5bGluZSBzdHlsZT0iZmlsbDojMDAwIiBwb2ludHM9IjcgMCA1IDAgNSAxIDQgMSA0IDMgNSAzIDUgMiA2IDIgNiAxIDcgMSIvPjxwb2x5bGluZSBzdHlsZT0iZmlsbDojMDAwIiBwb2ludHM9IjQgMyAxIDMgMSA0IDAgNCAwIDkgMSA5IDEgMTAgMiAxMCAyIDExIDQgMTEgNCAxMCA1IDEwIDUgMTEgNyAxMSA3IDEwIDggMTAgOCA5IDkgOSA5IDcgNyA3IDcgNSA5IDUgOSA0IDggNCA4IDMgNSAzIDUgNCA0IDQiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-size: var(--lengthAppleMenuLogoWidth) var(--lengthAppleMenuLogoHeight);
}

.spacer { flex-grow: 1; }

/*
#appleMenu polyline {
	fill: var(--lo) !important;
}
*/

/*when menus are selected, use these styles: */
/*#appleMenu:hover polyline {
	fill: var(--hi) !important;
}*/

.selectableMenu:hover {
	box-shadow: var(--lengthMenuBarSelectionPadding) 0 var(--lo), var(--lengthMenuBarSelectionPaddingNegative) 0 var(--lo), 4px 0 var(--lo), -4px 0 var(--lo);
	background-color: var(--lo);
	color: var(--hi);
}


/* modules */
.module {
	max-width: calc(100% - calc(var(--integerScaling) * 100px));
	margin: calc(var(--integerScaling) * 8px) auto calc(var(--integerScaling) * 40px);
}

@media (max-width: 444px) {
	.module {
		max-width: calc(100% - calc(var(--integerScaling) * 50px));
	}
}

@media (max-height: 444px) {
	.module {
		margin: calc(var(--integerScaling) * 8px) auto calc(var(--integerScaling) * 20px);
	}
}

@media (min-width: 1337px) {
	.module {
		max-width: 69vw;
	}
}

.innerMargin {
	margin: calc(var(--integerScaling) * 14px);
}


.moduleBannerContainer {
	display: flex;
	flex-flow: row nowrap;
	pointer-events: none!important;
}

.moduleBanner {
	height: 256px !important;
	width: calc(100% - calc(2 * var(--integerScaling) * 1px));
	margin-bottom: calc(var(--integerScaling) * 14px);
	user-select: none!important;
	background-position: center;
	background-size: cover;
	background-color: var(--lo);
	pointer-events: none!important;
	border: calc(1px * var(--integerScaling)) solid black;
	image-rendering: smooth;
}

.fixedButton {
	display: inline-block!important;
	width: calc(var(--integerScaling) * 160px) !important;
	height: calc(var(--integerScaling) * 28px) !important;

	background-image: url('./system/svg/button.svg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	image-rendering: pixelated;
	
	color: var(--lo);
	cursor: pointer!important;
	text-align: center!important;
	text-decoration: none!important;
	user-select: none!important;
	
	margin-right: calc(var(--integerScaling) * 15px);
	margin-bottom: calc(var(--integerScaling) * 8px);
	line-height: 1.75em;
}

.fixedButton:hover {
	/*font-style: italic;*/
	/*font-weight: bolder;*/
}

.fixedButton:active {
	/*font-weight: unset;*/
	color: var(--hi);
	background-image: url('./system/svg/button_pressed.svg');
	
}

.buttonContainer {
	text-align: center;
	margin: 1.5em 0 calc(1.5em - (var(--integerScaling) * 8px));
}

.windowLink {
	width: 1px!important;
	height: 1px!important;
}