/*********************************
 * 1984 Redux Landing Page Style *
 *        by Andrew Yaros        *
 *********************************/

:root {
	--imageWidth: 60%;
	--mediumColor: #a6a6a6;
	--darkerColor: #333333;
	color-scheme: only dark!important;
}

body {
	background-color: black!important;
	color: white!important;
	margin: 0!important;

	font-variant-caps: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans Geneva", "Arial", "Verdana", sans-serif;
}

#container { padding: 64px; }

p { margin-bottom: 1.1em; }

.icon {
	width: 32px!important;
	height: 32px!important;
	min-width: 32px;
	min-height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.mainMargin {
	width: 100%;
	margin: auto;
	max-width: 980px;
}

@font-face {
	font-family: "Apple Garamond";
	src: url("fonts/AppleGaramond.ttf");
}

.noselect, .noselect * {
	user-select: none!important;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	pointer-events: none!important;
}

#titlebar {
	height: 100px;

	font-family: 'Apple Garamond', "Adobe Garamond", serif;
	font-size: 36px;
	line-height: 1em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.spacer { flex-grow: 1; }

#titleicons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 10px;
}

#footer {
	height: 200px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	max-width: 555px;
}

.sosumi {
	color: var(--mediumColor);
	font-size: 10px;
	text-align: center;
}

#main {
	border: 1px solid var(--darkerColor);

	height: 600px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#main, #mainImage { border-radius: 16px; }

#mainImage {
	width: var(--imageWidth);

	background-image: url('images/iphoneinhand.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
}

#mainText {
	margin: 50px 40px 30px 0;
	max-width: calc(100% - var(--imageWidth));
}

.subtitle {
	font-size: 22px;
	margin-bottom: 1em;
}

hr {
	background-color: var(--darkerColor);
	border: none;
	height: 1px;
}

.linkArea {
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;

	font-weight: bold;
	font-size: 15px;
}

a {
	color: var(--mediumColor)!important;
	text-decoration: none!important;
}

a, a * { cursor: pointer!important; }

a:hover, a:active { color: white!important; }

#links { width: max-content; }

#bottomLinks {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	gap: 8px 32px;
}

/* column view at small widths */
@media (max-width: 850px) {
	#main {
		flex-flow: column nowrap;
		max-height: unset;
		height: unset;
	}

	#mainImage {
		width: 100%;
		height: 100vw;
		border-bottom-left-radius: unset;
	}

	#mainText {
		max-width: unset;
		margin: 40px 20px;
	}

	#links {
		margin: 30px auto;
		align-items: center;
	}

	#bottomLinks { margin-bottom: 32px; }
}

/* less margin at smaller widths */
@media (max-width: 600px) {
	#container { padding: 32px; }
}

/* important adjustments for tiny widths */
@media (max-width: 384px) {
	#container { padding: 8px; }
	#links { width: 100%; }
}